.App{
  display: flex;
}


.click1{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 20px;
  top: 15px;
  color:rgb(32, 240, 240);
}

.click2{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 20px;
  top: 80px;
  color:rgb(32, 240, 240);
}

.click3{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 20px;
  top: 145px;
  color:rgb(32, 240, 240);
}

.click4{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 150px;
  top: 15px;
  color:rgb(32, 240, 240);
}

.click5{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 150px;
  top: 80px;
  color:rgb(32, 240, 240);
}

.click6{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 150px;
  top: 145px;
  color:rgb(32, 240, 240);
}

.click7{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 280px;
  top: 15px;
  color:rgb(32, 240, 240);
}

.click8{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 280px;
  top: 80px;
  color:rgb(32, 240, 240);
}

.click9{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 280px;
  top: 145px;
  color:rgb(32, 240, 240);
}

.click10{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 410px;
  top: 15px;
  color:rgb(32, 240, 240);
}

.click11{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 410px;
  top: 80px;
  color:rgb(32, 240, 240);
}

.click12{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 410px;
  top: 145px;
  color:rgb(32, 240, 240);
}

.click13{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 540px;
  top: 15px;
  color:rgb(32, 240, 240);
}

.click14{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 540px;
  top: 80px;
  color:rgb(32, 240, 240);
}

.click15{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 540px;
  top: 145px;
  color:rgb(32, 240, 240);
}

.click16{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 670px;
  top: 15px;
  color:rgb(32, 240, 240);
}

.click17{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 670px;
  top: 80px;
  color:rgb(32, 240, 240);
}

.click18{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 670px;
  top: 145px;
  color:rgb(32, 240, 240);
}

.click19{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 800px;
  top: 15px;
  color:rgb(32, 240, 240);
}

.click20{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 800px;
  top: 80px;
  color:rgb(32, 240, 240);
}

.click21{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 800px;
  top: 145px;
  color:rgb(32, 240, 240);
}

.click22{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 930px;
  top: 15px;
  color:rgb(32, 240, 240);
}

.click23{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 930px;
  top: 80px;
  color:rgb(32, 240, 240);
}

.click24{
  position: absolute;
  width: 125px;
  height: 60px;
  left: 930px;
  top: 145px;
  color:rgb(32, 240, 240);
}