body {
  top: 445px;
  text-align: center;
  background-color: rgba(81, 255, 255, 0.13);
}

h1 {
  margin: 0.4em 0 0;
  padding: 0;
  font-size: 2em;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
}

.podnazov {
  font-size: 30px;
  font-style: italic;
}

p {
  margin: 0.4em 0 0;
  padding: 0;
  font-size: 2em;
  color: #000;
  line-height: 1.2;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 42px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 0.5em;
  white-space: nowrap;
  overflow: auto;
  background-color: #07b7dd;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  text-align: -webkit-match-parent;
}

li a {
  display: block;
  padding: 0.5em 0.5em;
  text-decoration: none;
  font-size: 2em;
  color: rgb(0, 0, 0);
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  background-color: #05e9f9;
}

.active {
  background-color: #0e1a8a;
}

.logo {
  float: left;
  width: 120px;
  height: 75px;
}

.ja1 {
  width: 300px;
  height: 360px;
  position: absolute;
  left: 300px;
  top: 375px;
}

.ja2 {
  position: absolute;
  width: 360px;
  height: 360px;
  left: 800px;
  top: 450px;
}

.zaluba1 {
  position: absolute;
  width: 360px;
  height: 480px;
  left: 500px;
  top: 450px;
}

.zaluba2 {
  position: absolute;
  width: 360px;
  height: 360px;
  left: 100px;
  top: 400px;
}

.zaluba3 {
  position: absolute;
  width: 360px;
  height: 480px;
  left: 900px;
  top: 500px;
}

.r1 {
  position: absolute;
  width: 360px;
  height: 240px;
  left: 70px;
  top: 210px;
}

.r2 {
  position: absolute;
  width: 360px;
  height: 240px;
  left: 450px;
  top: 250px;
}

.r3 {
  position: absolute;
  width: 480px;
  height: 320px;
  left: 820px;
  top: 720px;
}

.r4 {
  position: absolute;
  width: 480px;
  height: 360px;
  left: 830px;
  top: 290px;
}

.r5 {
  position: absolute;
  width: 240px;
  height: 360px;
  left: 520px;
  top: 580px;
}

.r6 {
  position: absolute;
  width: 360px;
  height: 240px;
  left: 70px;
  top: 520px;
}

.r7 {
  position: absolute;
  width: 360px;
  height: 240px;
  left: 100px;
  top: 840px;
}

.info {
  font-size: 16px;
  line-height: 1.3;
}

.flippystyle {
  height: 50px;
  width: 100px;
  position: absolute;
  margin: -25px 0 0 -50px;
  left: 45%;
  top: 25%;
}
